:host {
  display: block;
}

zapp-poc::part(cookiesim) {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

zapp-poc::part(openbutton) {
  background: url('assets/openbutton_beta1.svg');
  background-size:contain ;
}

zapp-poc::part(dropdown){
  --bgcolor: rgba(223, 221, 221, 0.5);
  background-color: #c3c3c3;
  background: linear-gradient(to right, var(--bgcolor), var(--bgcolor)),
    url(https://grainy-gradients.vercel.app/noise.svg);
  filter: contrast(100%) brightness(100%);
}