:host {
  display: block;
}

zapp-poc::part(cookiesim) {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

zapp-poc::part(openbutton) {
  background: url('assets/openbutton_beta1.svg');
  background-size:contain ;
}